@{
    ViewData["Title"] = "Home Page";
}

@model ServiceEmail.UI.Models.UserModel.User

@{
    Layout = null;
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" />
<section class="vh-100" style="background-color: #eee;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-9 col-xl-7">
                <div class="card rounded-3">
                    <div class="card-body p-4">

                        <h4 class="text-center my-3 pb-3">@Model.Name @Model.LastName profile</h4>

                        <form class="row row-cols-lg-auto g-3 justify-content-center align-items-center mb-4 pb-2">

                            <div class="col-12">
                                <a asp-action="Create" asp-controller="Task" type="submit" class="btn btn-warning">Add task</a>
                            </div>
                        </form>

                        <table class="table mb-4">
                            <thead>
                                <tr>
                                    <th scope="col">Name using api</th>
                                    <th scope="col"</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            @foreach (var t in Model.taskInfo)
                             {
                                <tbody>
                                    <tr>
                                        <td>@t.Name</td>
                                        <td></td>
                                        <td>@t.LastDateTime</td>
                                        <td>
                                            <a asp-action="Delete" asp-controller="Task" asp-route-id="@t.Id" type="submit" class="btn btn-danger">Delete</a>
                                            <a asp-action="Edit" asp-controller="Task" asp-route-id="@t.Id" type="submit" class="btn btn-success ms-1">Edit</a>
                                            <a asp-action="Details" asp-controller="Task" asp-route-id="@t.Id" asp-route-name="@t.Name" type="submit" class="btn btn-success ms-1">Details</a>
                                        </td>
                                    </tr>
                               </tbody>
                             }                            
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
<div>
    <a asp-controller="Account" asp-action="Logout">Logout</a>
</div>


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
